<ion-header no-border>
  <ion-toolbar class="bg-gradient">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-gradient ion-padding-vertical">

    <div class="text-white text-title ion-padding-horizontal">Things to <strong>complete</strong> your <strong>hostel</strong> life</div>

    <div class="ion-padding-horizontal">
      <ion-searchbar class="searchbar-white" placeholder="Search Categories" [debounce]="250" mode="ios"></ion-searchbar>
    </div>

  </div>
  
  <div class="ion-padding">

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <div class="text-12pt">Browse Categories</div>
        </ion-col>
        <ion-col size="6">
          <div class="text-10pt ion-text-right text-warning">See all</div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding">

        <ion-col size="3" class="ion-no-padding ion-text-center">
          <ion-thumbnail class="center-thumbnail">
            <img src="https://image.flaticon.com/icons/svg/2038/2038035.svg" />
          </ion-thumbnail>
          <div class="text-10pt">App</div>
        </ion-col>

        <ion-col size="3" class="ion-no-padding ion-text-center">
          <ion-thumbnail class="center-thumbnail">
            <img src="https://image.flaticon.com/icons/svg/2038/2038008.svg" />
          </ion-thumbnail>
          <div class="text-10pt">Buildings</div>
        </ion-col>

        <ion-col size="3" class="ion-no-padding ion-text-center">
          <ion-thumbnail class="center-thumbnail">
            <img src="https://image.flaticon.com/icons/svg/2038/2038009.svg" />
          </ion-thumbnail>
          <div class="text-10pt">ATM</div>
        </ion-col>

        <ion-col size="3" class="ion-no-padding ion-text-center">
          <ion-thumbnail class="center-thumbnail">
            <img src="https://image.flaticon.com/icons/svg/2038/2038214.svg" />
          </ion-thumbnail>
          <div class="text-10pt">Cabin</div>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>

  <hr class="hr">

  <div class="ion-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <div class="text-12pt">Recommended</div>
        </ion-col>
        <ion-col size="6">
          <div class="text-10pt ion-text-right text-warning">See all</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-padding">
      <ion-row>

        <ion-col size="6" class="ion-no-padding">
          <ion-card mode="ios" class="card-margin">
            <img src="https://pix10.agoda.net/hotelImages/4638404/-1/2bdbaecbde190b75b1baf80398468e6d.jpg?s=1024x768">
            <ion-card-content class="bg-gradient-2 ">
              <div class="text-9pt">Fabric table lamp</div>
              <div class="text-9pt"><strong>Rs. 550</strong></div>
              <div class="text-8pt">Einstein hostel</div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6" class="ion-no-padding">
          <ion-card mode="ios" class="card-margin">
            <img src="https://pix10.agoda.net/hotelImages/4638404/-1/2bdbaecbde190b75b1baf80398468e6d.jpg?s=1024x768">
            <ion-card-content class="bg-gradient-2 ">
              <div class="text-9pt">Fabric table lamp</div>
              <div class="text-9pt"><strong>Rs. 550</strong></div>
              <div class="text-8pt">Einstein hostel</div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6" class="ion-no-padding">
          <ion-card mode="ios" class="card-margin">
            <img src="https://pix10.agoda.net/hotelImages/4638404/-1/2bdbaecbde190b75b1baf80398468e6d.jpg?s=1024x768">
            <ion-card-content class="bg-gradient-2 ">
              <div class="text-9pt">Fabric table lamp</div>
              <div class="text-9pt"><strong>Rs. 550</strong></div>
              <div class="text-8pt">Einstein hostel</div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col size="6" class="ion-no-padding">
          <ion-card mode="ios" class="card-margin">
            <img src="https://pix10.agoda.net/hotelImages/4638404/-1/2bdbaecbde190b75b1baf80398468e6d.jpg?s=1024x768">
            <ion-card-content class="bg-gradient-2 ">
              <div class="text-9pt">Fabric table lamp</div>
              <div class="text-9pt"><strong>Rs. 550</strong></div>
              <div class="text-8pt">Einstein hostel</div>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
